.card__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    
    width: 90%;
    margin: 0 auto;
    padding-top: 3rem;
}

.card__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: .2rem;
    box-shadow: .4rem .4rem 1rem rgb(65, 65, 65, .7);

    margin-bottom: 1rem;
    cursor: pointer;

    background-color: rgb(255, 255, 255);
    
    &:hover {
        transform: scale(1.05);
        transition: transform .1s;
    }  
    
    &__link {
        all: unset;
        width: 250px;
        height: 350px;
    }
}

.image__wrapper {

    height: 70%;
    &__img {
        width: 100%;
        height: 100%;
        border-radius: .2rem;
        object-fit: cover;
    }
}

.text__wrapper {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__label {
        color: rgb(173, 173, 173);
        font-size: .8rem;
        margin-bottom: .5rem;
    }

    &__text {
        padding: 0 .5rem;
        font-size: 1rem;
        font-weight: 300;
    }
}