* {
    font-family: 'Poppins', sans-serif;
}

.search__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    gap: 2rem;

    &--logo {
        text-align: center;
        font-size: 6rem;
        font-weight: 700;
        color: rgb(43, 39, 39, .85);

        &--span {
            color: rgb(230, 74, 74);
        }
    }

    &--description {
        width: 80%;
        text-align: center;
        font-weight: 300;
        font-size: 1.1rem;
        color: rgb(56, 47, 47, .8);
    }

    &__input__container {
        display: flex;
        width: 70vw;
    }

    &--input {
        align-self: center;
        padding: 1.6rem .5rem;
        height: 2rem;
        width: 60vw;
        background-color: rgba(228, 221, 221, 0.2);
        color: rgb(32, 30, 30);
        font-size: .9rem;
        font-weight: 400;
        border-radius: .5rem;
        border: none;
        flex-grow: 1;
        padding-left: 2.5rem;

        position: relative;

        &--icon {
            padding-left: .5rem;
            position: absolute;
            align-self: center;
        }

        &:focus {
            outline: 1px solid rgb(149, 207, 255);
        }
    }
}

@media(max-width: 680px) {
    .search__container--logo {
        line-height: 1.2;
    }
}