* {
    font-family: 'Poppins', sans-serif;
}

.search__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    gap: 2rem;

    &--logo {
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 6rem;
        font-weight: 700;
    }

    &--description {
        width: 80%;
        text-align: center;
        font-weight: 300;
        font-size: 1.1rem;
    }

    &--input {
        align-self: center;
        padding: 1.2rem .5rem;
        height: 2rem;
        width: 70vw;
        background-color: rgb(241, 241, 241);
        border-radius: .5rem;
        border: none;
        flex-grow: 1;

        &:focus {
            outline: none;
        }

    }
}