* {
    font-family: 'Poppins', sans-serif;
}

.search__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    gap: 2rem;

    &--logo {
        // margin-left: 1rem;
        // margin-right: 1rem;
        text-align: center;
        font-size: 6rem;
        font-weight: 700;
        color: rgb(43, 39, 39, .85);
    }

    &--description {
        width: 80%;
        text-align: center;
        font-weight: 300;
        font-size: 1.1rem;
        color: rgb(56, 47, 47, .8);
    }

    &--input {
        align-self: center;
        padding: 1.2rem .5rem;
        height: 2rem;
        width: 70vw;
        background-color: rgba(57, 176, 255, 0.2);
        border-radius: .5rem;
        border: none;
        flex-grow: 1;

        &:focus {
            outline: none;
        }

    }
}

@media(max-width: 680px) {
    .search__container--logo {
        line-height: 1.2;
    }
}